<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="assets/images/lyft.ico" type="image/x-icon">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>lyft</title>
</head>

<body class="splash">
  <a href="page1.html">
    <span class="glyphicon glyphicon-menu-right return"></span>
  </a>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 box-logo-end">
        <img class="logo-white" src="../assets/images/logowhite.png" alt="logo-white">

      </div>


    </div>
    <div class="box-confirm">
      <p class="message-confirm">Thank you for registering
        <span class="glyphicon glyphicon-ok-circle"></span>
      </p>
    </div>

  </div>



  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>