<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="assets/images/lyft.ico" type="image/x-icon">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>lyft</title>
</head>

<body class="view-principal">
  <div class="container" >
    <div class="row">
      <div class="box-logo-white">
      <img  class="logo-white-view1" src="../assets/images/logowhite.png" alt="">
    </div>
      <div class="col-xs-12 box-logo">
          
              <img class="logo-pink"  src="../assets/images/lyft-life.png" alt="">
          
            </div>
          </div>
          <div class="row controls">
          <div class="box-button col-xs-12">
            <a href="#" class="btn btn-lg">log in</a>
            <a href="page2.html" class="btn btn-lg">sign up</a>
          
      
    </div>
    
    
  </div>


  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  
</body>

</html>