<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="assets/images/lyft.ico" type="image/x-icon">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Sign Up</title>
</head>

<body>
  <a href="page1.html" class="return-page">
    <span class="glyphicon glyphicon-menu-left "></span>
  </a>

  <section class="container view-form">
    <img class="img-v4" src="../assets/images/img1.png" alt="">

    <h2>Sign Up</h2>
    <p>Join now for free ride credit</p>
    <hr>
    <div class="btn-group">
      <button type="button" class="btn btn-white dropdown-toggle btn-select" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="image-select" src="../assets/images/mexico.png">

        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>

      <ul class="dropdown-menu">

        <li>
          <a href="#" title="Select this card">
            <img class="image-select" src="../assets/images/mexico.png">
          </a>
        </li>
        <li>
          <a href="#" title="Select this card">
            <img class="image-select" src="../assets/images/us.png">
          </a>
        </li>
        <li>
          <a href="#" title="Select this card">
            <img class="image-select" src="../assets/images/colombia.png">
          </a>
        </li>
      </ul>
    </div>

    <input type="text" class=" inline input-phone" placeholder="52" maxlength="10">
    <p>We'll send a text to verify your phone</p>
    <div class="box-next">
      <button href="#" class="btn btn-block btn-next" disabled>Next</button>
    </div>



  </section>


  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/page2.js"></script>
</body>

</html>